:root {
  --background-color: red;
  --primary-text: black;
  --secondary-text: gray;
  --accent-color: green;
}

html {
  background-color: var(--background-color);
}

.main-container {

  margin: 2rem;
}

.hero-text {
  font-size: 15rem;
  margin: 0;
}