:root {
  --background-color: red;
  --primary-text: black;
  --secondary-text: gray;
  --accent-color: green;
}

/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  background-color: var(--background-color);
}


.main-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  box-sizing: border-box;
  height: 100vh;
}

/* Main navigation with hamburger menu  */
.nav {
  display: flex;
  margin: 1rem;
  align-items: center;
}

.nav-ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.nav-a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--primary-text);
}

.hamburger-button {
  display: flex;
  background: none;
  border: none;
  font-size: 2rem;
  margin-right: 1rem;
}

/* Hero  */
.hero {
  display: flex;
  align-items: center;
}
.hero-text {
  font-size: 15rem;
  margin: 1rem;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.social {
  display: flex;
}

.social>p , .social-button{
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
} 

.social-button {
  display: flex;
  align-items: center;
  margin: 0 0 0 2rem;
  padding: 0;
  vertical-align: middle;
  background: none;
  border: none;
  font-size: 2rem;
}

.social-button>a {
  color: var(--primary-text);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .nav-a { font-size: 1.2rem; }
  .hero-text { font-size: 7rem; }
  footer>p { font-size: .8rem;}
  .social-button { 
    font-size: 1.6rem;
    margin: 0 0 0 .8rem;
  }
}