:root {
  --background-color: red;
  --primary-text: black;
  --secondary-text: gray;
  --accent-color: green;
}

html {
  background-color: var(--background-color);
}

.main-container {

  margin: 2rem;
}

.hero-text {
  font-size: 15rem;
  margin: 0;
}

/* Main navigation with hamburger menu  */
.nav {
  display: flex;
}

.nav-ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.nav-a {
  text-decoration: none;
  font-size: 1.6rem;
  color: var(--primary-text);
}

.hamburger-button {
  background: none;
  border: none;
  font-size: 2rem;
  padding: 1rem;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  gap: 1rem;
}

.social-button {
  background: none;
  border: none;
  font-size: 2rem;
}

.social-button>a {
  color: var(--primary-text);
}